.intro{
  font-family: Corbel;
  font-size: x-large;
  color: peru;
  text-align: center;
}

h5 {
  font-family: Corbel;
  font-size: x-large;
  color: peru;
  text-align: center;
  font-weight: bold;
}

p {
  font-family: Corbel;
  font-size: medium;
  color: peru;
  padding-left: 40%;
}

/*.md-form{*/
/*  padding-left: 100px;*/
/*}*/

.likeLabel {
  font-family: Corbel;
  font-size: smaller;
  color: peru;
  margin-left: 50%;
}

button {
  margin-left: 60%;
}

