h5{
  font-family: "Century Gothic";
  font-size: larger;
  text-align: center;
}
p{
  font-family: "Century Gothic";
  font-size: medium;
  padding-left: 45%;
  /*text-align: left;*/
}
.md-form{
  padding-left: 100px;
}
button{
  margin-left: 60%;
}
