<div *ngIf="loaded" else loading_template>
  <div class="intro">Check out the recipes our users have shared:</div>
  <div class="sortByMenu">
    <mat-form-field>
      <mat-label>Sort recipes by</mat-label>
      <mat-select name="sort">
        <mat-option value="abc" (click)="abcOrder()">Alphabetically
        </mat-option>
        <mat-option value="likes" (click)="likesOrder()"> Number of Likes
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>


  <mat-card *ngFor="let recipe of searchingRecipes; index as recipeKey">
    <h5>{{recipe.recipeName}}</h5>
        <p>Shared by: {{recipe.username}}</p>
        <p>Likes: {{recipe.likes}}</p>
    <a [title]="recipe.recipeName + ' details'" [routerLink]="['/recipes', recipeKey]">
      {{ recipe.recipeName }}
    </a>
    <div class="likeLabel"> Give this recipe a like!
      <button mat-fab color="primary" class="likeButton" (click)="likeRecipe(recipe)">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>

    <div class="add-to-cookbook">Add this recipe to your cookbook!</div>
    <button mat-fab color="primary" (click)="addRecipe(recipe)"></button>
  </mat-card>

</div>
<ng-template #loading_template>
  Still loading...
</ng-template>
