.intro {
  font-family: Corbel;
  font-size: x-large;
  color: peru;
  text-align: center;
}

.sortByMenu {
  margin-left: 43%;
}

h5 {
  font-family: Corbel;
  font-size: x-large;
  color: peru;
  text-align: center;
  font-weight: bold;
}

p {
  font-family: Corbel;
  font-size: large;
  color: peru;
  padding-left: 40%;
}

.likeLabel {
  font-family: Corbel;
  font-size: medium;
  color: peru;
  margin-left: 50%;
}

.likeButton {
  margin-left: 2%;
}
