<div class="center">
    <br>
    <h1 class='title'>Frequently Asked Questions</h1>
    <div class="container">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              What's the purpose of the site?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            For users to share their recipes, answer questions in forums, and to establish a community
            where people can learn to cook!
          </mat-panel-description>
        </mat-expansion-panel>
        <mat-expansion-panel (opened)="panelOpenState = true"
                             (closed)="panelOpenState = false">

          <mat-expansion-panel-header>
            <mat-panel-title>
              Why should I make an account?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            By creating an account you're able to save and vote on recipes you enjoy, post questions,
            and reply in forums.
          </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              What's the personality quiz for?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            If you're uncertain of what recipes you'd like to make next, the personality quiz will tell you what type
            of food you are and provide a link to all the recipes of that food on our site! So fun!
          </mat-panel-description>
        </mat-expansion-panel>

        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              How do I make an account?
            </mat-panel-title>
          </mat-expansion-panel-header>
          <mat-panel-description>
            If you'd like to make an account, use <a href="localhost:4200/register"> this link</a>
          </mat-panel-description>
        </mat-expansion-panel>
<!--        <mat-expansion-panel>-->
<!--          <mat-expansion-panel-header>-->
<!--            <mat-panel-title>-->
<!--              Question 3-->
<!--            </mat-panel-title>-->
<!--            <mat-panel-description>-->
<!--              How do I sign up?-->
<!--            </mat-panel-description>-->
<!--          </mat-expansion-panel-header>-->

<!--          <mat-panel-description>-->
<!--            How do I change my password?-->
<!--          </mat-panel-description>-->
<!--        </mat-expansion-panel>-->
<!--        <mat-expansion-panel>-->
<!--          <mat-expansion-panel-header>-->
<!--            <mat-panel-title>-->
<!--              Question 4-->
<!--            </mat-panel-title>-->
<!--            <mat-panel-description>-->
<!--              How do I change my password?-->
<!--            </mat-panel-description>-->
<!--          </mat-expansion-panel-header>-->

<!--          <mat-panel-description>-->
<!--            How do I change my password?-->
<!--          </mat-panel-description>-->
<!--        </mat-expansion-panel>-->
      </mat-accordion>
    </div>
  </div>

