<h3>FAQs</h3>
<button class="accordion">What is the purpose of the website?</button>
<div class="panel">
  <p>The website is meant to share recipes with other people and to create your own cookbooks.</div>

<button class="accordion">Should I create an account?</button>
<div class="panel">
  <p>By creating an account, you are able to customize your profile and create cookbooks.</div>

<!--<script>-->
<!--    var acc = document.getElementsByClassName("accordion");-->
<!--    var i;-->

<!--    for (i = 0; i < acc.length; i++) {-->
<!--        acc[i].addEventListener("click", function() {-->
<!--            this.classList.toggle("active");-->
<!--            var panel = this.nextElementSibling;-->
<!--            if (panel.style.maxHeight) {-->
<!--                panel.style.maxHeight = null;-->
<!--            } else {-->
<!--                panel.style.maxHeight = panel.scrollHeight + "px";-->
<!--            }-->
<!--        });-->
<!--    }-->
<!--</script>-->
