<h3>Q: What is the purpose of the website?</h3>
<p>A: The website is meant to share recipes with other people and to create your own cookbooks</p>
<h3>Q: Should I create an account?</h3>
<p>A: By creating an account, you are able to customize your profile and create cookbooks.</p>
<form [formGroup]="questionForm">
  Name: <input formControlName="name"><br>
  Email: <input formControlEmail="email"><br>
  Question: <input class="form" formControlQuestion="question"><br>
  <button mat-raised-button color="primary" (click)="onClickAddQuestion(questionForm.value)">Submit Question</button>
</form>
