<!--<h2 mat-dialog-title>This is a Dialog title</h2>-->

<!--<mat-dialog-content>-->

<!--  <p> Place content here </p>-->
<!--</mat-dialog-content>-->

<!--<mat-dialog-actions>-->
<!--  <button class="mat-raised-button" (click)="close()">Close</button>-->
<!--</mat-dialog-actions>-->

<h1 mat-dialog-title>Thank you!</h1>
<div mat-dialog-content>
  <p></p>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">Share Another Recipe</button>
  <button mat-raised-button color="primary" routerLink="/allrecipes" (click)="close()">View All Recipes</button>
  <!--  <button mat-button [mat-dialog-close]="data.animal" cdkFocusInitial>View Recipe</button>-->
</div>
