<footer class="footer">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <div class="container">
    <div id="content-wrap">
      <div class="content">
        <a href="https://twitter.com/cuizinesforu" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/cuizinesforu/" class="fa fa-instagram"></a>
        <p>
          <a href="localhost:4200/contact" target="_blank">Contact Us!</a>
        </p>
      </div>
    </div>
  </div>
</footer>
