<section class="hero is-fullheight is-bold" id="homeBody">
  <div class="hero-body">
    <div class="container">
      <div id="sadface">Cuizines For U</div>
    </div>
  </div>
</section>
<div class="container">
  <h2 class="topRecipes">Top Recipes</h2>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Hello World</p>
        <p class="subtitle">What is up?</p>
        <a class="twitter-timeline" href="https://twitter.com/CuizinesForU?ref_src=twsrc%5Etfw">Tweets by CuizinesForU</a>
        <script defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Foo</p>
        <p class="subtitle">Bar</p>
<!--        <iframe src=”//instagram.com/p/B5Ij6sBAZrd/embed/” height=”710″ width=”612″ frameborder=”0″ scrolling=”no”></iframe>-->
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Third column</p>
        <p class="subtitle">With some content</p>
        <div class="content">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor
            vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.</p>
        </div>
      </article>
    </div>
  </div>
</div>
<app-footer></app-footer>
