<section class="hero is-fullheight is-bold" id="homeBody">
  <div class="hero-body">
    <div class="container">
      <div id="sadface">Cuizines For U</div>
    </div>
  </div>
</section>
<div class="container">
  <h2 class="topRecipes">Featured</h2>
  <div class="tile is-ancestor">
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Hello World</p>
        <p class="subtitle">What is up?</p>
        <a class="twitter-timeline" href="https://twitter.com/CuizinesForU?ref_src=twsrc%5Etfw">Tweets by
          CuizinesForU</a>
        <script async defer src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Mango Pudding</p>
        <p class="subtitle">Mango Pudding is this week's favorite food</p>
        <a routerLink="/allrecipes" class="subtitle">Check out our most liked recipe</a>
      </article>
    </div>
    <div class="tile is-parent">
      <article class="tile is-child box">
        <p class="title">Blog</p>
        <a routerLink="/blog" class="subtitle">Check out our latest blog post!</a>
      </article>
    </div>
  </div>
</div>
<app-footer></app-footer>
