<p>homepage works!</p>
<app-navigation-bar></app-navigation-bar>
<section class="hero is-info is-fullheight is-bold" id="homeBody">
  <div class="hero-body">
    <div class="container">
      <div id="sadface">:)</div>
      <h1 class="title">CalendarBoyz!</h1>

      <div class="subtitle">
        Welcome to CalendarBoyz here you can schedule events that you are going and let your friends know what you are
        doing any day and where you will be. Its not spying. But you can have that annoying friend show up and follow
        you around. But there's a good side to this place you can have your other friends also come. BOSD.
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
