<div class="modal-register hero is-fulll">

  <!-- avatar icon -->
  <div class="avatar">
    <mat-icon class="avatar-person">person</mat-icon>
  </div>

  <!-- title for page-->
  <h4 class="modal-title">Register</h4>
  <!-- body for register -->
  <div class="modal-body">
    <!--  -->
    <!--  <h1>Register</h1>-->

    <!-- call our form register -->
    <form #userRegForm="ngForm" (ngSubmit)="createUser(userRegForm)">
      <div class="columns">
        <div class="column is-half">
          <input ngModel #firstname="ngModel" name="firstName" type="text" class="form-control" id="firstName"
                 placeholder="First Name">
        </div>
        <div class="column">
          <input ngModel #lastname="ngModel" name="lastName" type="text" class="form-control" id="lastName" value=""
                 placeholder="Last Name">
        </div>
      </div>

      <div class="columns">
        <div class="column">
          <input ngModel #userName="ngModel" name="userName" type="text" class="form-control" placeholder="User Name"
                 required="required">
        </div>
      </div>
      <!--form part for email-->
      <div class="form-group">
        <!--      <mat-form-field floatLabel="never" class="" hideRequiredMarker>-->
        <input ngModel #email="ngModel" name="email" type="email" class="form-control" placeholder="Email">
        <!--      </mat-form-field>-->
      </div>

      <!--form part for password-->
      <div class="form-group">
        <!--      <mat-form-field floatLabel="never" class="" hideRequiredMarker>-->
        <input ngModel #password="ngModel" name="password" type="password" class="form-control"
               placeholder="Enter your password"
               required="required">

        <!--        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"-->
        <!--                [attr.aria-pressed]="hide">-->
        <!--&lt;!&ndash;          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>&ndash;&gt;-->
        <!--        </button>-->
        <!--      </mat-form-field>-->
      </div>

      <!-- buttons to route to home or register user-->

      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-lg btn-block login-btn">Register</button>
      </div>

      <div class="modal-footer">
        <a routerLink="/home">Cancel</a>
      </div>
      <!--    <button mat-raised-button type="submit" (click)="tryRegister(registerForm.value)">Register</button>-->
      <!--    <div class="divider"></div>-->
      <!--    <button mat-raised-button routerLink="/home">Cancel</button>-->
      <form>
        <br>
        <!-- this will log the error message to the user based on their input-->
        <label class="error">{{ authError?.message }}</label>
      </form>
    </form>
  </div>
</div>
