<body>
<div *ngIf="recipe">
  <h1>{{recipe.recipeName}}</h1>
  <h5>by {{recipe.username}}</h5>
  <h3>Information:</h3>
  <h4>Description:</h4>
  <p>
    {{recipe.description}}
  </p>
  <h4>Food Type:</h4>
  <p>
    {{recipe.foodType}}
  </p>
  <h4>Occasion:</h4>
  <p>
    {{recipe.occasion}}
  </p>
  <h4>Difficulty Level:</h4>
  <p>
    {{recipe.difficulty}}
  </p>
  <h4>Number of Servings:</h4>
  <p>
    {{recipe.numberOfServings}}
  </p>
  <h4>Preparation Time: (in minutes)</h4>
  <p>
    {{recipe.prepTime}}
  </p>
  <h4>Cooking Time: (in minutes)</h4>
  <p>
    {{recipe.cookingTime}}
  </p>

  <h4>Ingredients:</h4>
  <p>
    {{recipe.ingredients}}
  </p>

  <h4>Directions:</h4>
  <p>
    {{recipe.directions}}
  </p>

  <form [formGroup]="commentForm">
    <div class="form-group">
      <label class="center-block">Leave a comment:
        <input class="form-control" formControlName="comments">
      </label>
    </div>

    <button mat-raised-button type="submit" class="btn btn-success"
            (click)="onSubmit(commentForm.value)">
      Enter
    </button>
  </form>

<!--  {{recipe.comments}}-->

  <h4>Comments:</h4>
  <div *ngFor="let comment of commentArray">
    {{comment}}
  </div>
</div>
<!--<a routerLink="/allrecipes">Back to All Recipes</a>-->
</body>


<!--<form "class="example-form">-->
<!--<h3>Comments:</h3>-->
<!--&lt;!&ndash;    <mat-form-field class="example-full-width">&ndash;&gt;-->
<!--&lt;!&ndash;      <input matInput placeholder="Username">&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-form-field>&ndash;&gt;-->

<!--<mat-form-field class="example-full-width">-->
<!--  <input matInput [(ngModel)]="value" placeholder="Leave a comment">-->
<!--</mat-form-field>-->

<!--<button mat-raised-button color="primary" (click)="onSubmit(value)">Submit</button>-->
<!--</form>-->

<!--&lt;!&ndash;  <div [formGroup]="commentForm">&ndash;&gt;-->
<!--&lt;!&ndash;    <div class="comment">Add a comment:</div>&ndash;&gt;-->
<!--&lt;!&ndash;    <textarea formControlName="comments" input [(ngModel)]="value" class="commentSubmit"&ndash;&gt;-->
<!--&lt;!&ndash;              style="..."></textarea>&ndash;&gt;-->
<!--&lt;!&ndash;    <button mat-raised-button (click)="onSubmit(value)" class="commentButton">Add</button>&ndash;&gt;-->
<!--&lt;!&ndash;  </div>&ndash;&gt;-->
