<!--<p>recipe-detail works!</p>-->
<!--<div *ngIf="recipe">-->

<!--  <h2>{{recipe.recipeName | uppercase}} Details</h2>-->
<!--  <div><span>key: </span>{{recipe.key}}</div>-->
<!--  <div>-->
<!--    <label>name:-->
<!--      <input [(ngModel)]="recipe.recipeName" placeholder="name"/>-->
<!--    </label>-->
<!--  </div>-->

<!--</div>-->

<body>
<div *ngIf="recipe">
  <h1>{{recipe.recipeName}}</h1>
  <h5>by {{recipe.username}}</h5>
  <h3>Information:</h3>
  <h5>Description:</h5>
  <p>
    {{recipe.description}}
  </p>
  <h5>Food Type:</h5>
  <p>
    {{recipe.foodType}}
  </p>
  <h5>Occasion:</h5>
  <p>
    {{recipe.occasion}}
  </p>
  <h5>Difficulty Level:</h5>
  <p>
    {{recipe.difficulty}}
  </p>
  <h5>Number of Servings:</h5>
  <p>
    {{recipe.numberOfServings}}
  </p>
  <h5>Preparation Time: (in minutes)</h5>
  <p>
    {{recipe.prepTime}}
  </p>
  <h5>Cooking Time: (in minutes)</h5>
  <p>
    {{recipe.cookingTime}}
  </p>

  <h5>Ingredients:</h5>
  <p>
    {{recipe.ingredients}}
  </p>

  <h5>Directions:</h5>
  <p>
    {{recipe.directions}}
  </p>

  <form class="example-form">
    <h3>Comments:</h3>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Username">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Leave a comment">
    </mat-form-field>

    <button mat-raised-button color="primary">Submit</button>
  </form>

</div>
<!--<a routerLink="/allrecipes">Back to All Recipes</a>-->
</body>

