.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.LoginButton {
  position: sticky;
  top: 0px;
  left: 90%;
}

.RegisterButton {
  position: sticky;
  top: 0px;
  left: 100%;
}
