<!--<div [formGroup]="recipeForm">-->
<!--  Username: <input formControlName="username" required >-->
<!--  <br>-->
<!--  Recipe Name: <input formControlName="recipeName"><br>-->
<!--  Description: <input formControlName="description"><br>-->
<!--  Food Type: <input formControlName="foodType"><br>-->
<!--  Difficulty Level: <br>-->
<!--  <input type="radio" formControlName="difficulty" value="Easy"> Easy<br>-->
<!--  <input type="radio" formControlName="difficulty" value="Moderate"> Moderate<br>-->
<!--  <input type="radio" formControlName="difficulty" value="Hard"> Hard<br>-->
<!--  Number of Servings: <input formControlName="numberOfServings"><br>-->
<!--  Prep Time: (minutes) <input formControlName="prepTime"><br>-->
<!--  Cooking Time: (minutes)<input formControlName="cookingTime"><br>-->
<!--  Ingredients: <input formControlName="ingredients"><br>-->
<!--  Directions: <input formControlName="directions"><br>-->
<!--&lt;!&ndash;  <input type="button" (click)="onSubmit(recipeForm.value)" value = "Submit Recipe">&ndash;&gt;-->
<!--  <button mat-raised-button color="primary" (click)="onSubmit(recipeForm.value)">Submit Recipe</button>-->
<!--</div>-->

<h2>Validation Example</h2>

<form  ng-app="myApp"  ng-controller="validateCtrl"
       name="myForm" novalidate>

  <p>Username:<br>
    <input type="text" name="user" ng-model="user" required>
    <span style="color:red" ng-show="myForm.user.$dirty && myForm.user.$invalid">
  <span ng-show="myForm.user.$error.required">Username is required.</span>
  </span>
  </p>

  <p>Email:<br>
    <input type="email" name="email" ng-model="email" required>
    <span style="color:red" ng-show="myForm.email.$dirty && myForm.email.$invalid">
  <span ng-show="myForm.email.$error.required">Email is required.</span>
  <span ng-show="myForm.email.$error.email">Invalid email address.</span>
  </span>
  </p>

  <p>
    <input type="submit"
           ng-disabled="myForm.user.$dirty && myForm.user.$invalid ||
  myForm.email.$dirty && myForm.email.$invalid">
  </p>

</form>

<script>
    var app = angular.module('myApp', []);
    app.controller('validateCtrl', function($scope) {
        $scope.user = 'John Doe';
        $scope.email = 'john.doe@gmail.com';
    });
</script>
<!--<input id="username" class="form-control"-->
<!--       formControlName="username" required >-->
<!--<div *ngIf="username.invalid && (username.dirty || username.touched)"-->
<!--     class="alert alert-danger">-->
<!--  <div *ngIf="username.errors.required">-->
<!--    Username is required.-->
<!--  </div>-->
<!--  <div *ngIf="username.errors.minlength">-->
<!--    Username must be at least five characters long.-->
<!--  </div>-->
<!--</div>-->

<!--<button mat-raised-button color="primary" (click)="onSubmit(recipeForm.value)">Submit Recipe</button>-->
