<h2>Recipe Form</h2>
<form>
  Recipe Name:<br>
  <input type="text" name="recipeName"><br>
  Description:<br>
  <input type="text" name="description"><br>
  Type of Dish:<br>
  <input type="text" name="foodType"><br>
  Difficulty Level:<br>
<!-- Difficulty level radio buttons -->
  <input type="radio" name="difficulty" value="easy"> Easy<br>
  <input type="radio" name="difficulty" value="moderate"> Moderate<br>
  <input type="radio" name="difficulty" value="hard"> Hard<br>
  Number of Servings:<br>
  <input type="text" name="numberOfServings"><br>
  Preparation Time:<br>
  <input type="text" name="prepTime"><br>
  Cooking Time:<br>
  <input type="text" name="cookingTime"><br>
  Ingredients:<br>
  <input type="text" name="ingredients"><br>
  Directions:<br>
  <input type="text" name="directions"><br>
  <input type="button" name="submit" value="Submit Recipe">
</form>
