body {
  margin-left: 10%;
  margin-right: 10%;
}

.intro {
  font-family: Corbel;
  font-size: large;
  text-align: center;
}

.intro2 {
  font-family: Corbel;
  font-size: medium;
  text-align: center;
}

.personalityQuestion {
  font-family: Corbel;
  font-size: medium;
}

