<div class="avatar">
  <mat-icon class="avatar-person">person</mat-icon>
</div>
<h4 class="modal-title">{{ user?.displayName }}</h4>
<h4 class="modal-title">{{ userName }}</h4>
<h4 class="modal-title">Email: {{ user?.email }}</h4>
<div class="container column is-4">
  <mat-card class="card" *ngFor="let recipe of searchingRecipes; index as recipeKey">
    <h5>{{recipe.recipeName}}</h5>
    <p>Shared by: {{recipe.username}}</p>
    <p>Description: {{recipe.description}}</p>
    <p>Likes: {{recipe.likes}}</p>
    <p><a [title]="recipe.recipeName + ' details'" [routerLink]="['/recipes', recipeKey]">
      View Recipe Details
    </a>
    </p>
  </mat-card>
</div>
