<body>
<br>
<div class="questionIntro">
  Have a question about cooking? Ask our other users!
</div>
<div class="answerIntro">
  If you want to reply to someone's question, hit the share button!
</div>
<br>
<mat-card>
  <div [formGroup]="questionForm">
    <div class="questionLabel"> Ask a Question:
      <textarea formControlName="question" class="questionSubmit" style="resize: both"></textarea>
    </div>
    <button mat-raised-button (click)="submitUserQ(questionForm.value)" class="questionButton">Submit Question
    </button>
  </div>
</mat-card>
<br>
  <mat-card *ngFor="let question of questions" class = "indSection">
    <div class="question">{{question.question}}</div>
    <br>
    <div class="answers">{{question.answers}}</div>
    <br>
    <div [formGroup]="answerForm">
      <div class="answerLabel">Share an Answer:</div>
      <textarea formControlName="answers" input [(ngModel)]="value" class="answerSubmit"
                style="resize: both"></textarea>
      <button mat-raised-button (click)="submitUserAnswer(value,question)" class="answerButton">Share Answer</button>
      <br>
      <br>
    </div>
  </mat-card>
</body>
