body {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
}

.questionIntro {
  font-family: Corbel;
  font-size: x-large;
  color: darkslategray;
  text-align: center;
}

.answerIntro {
  font-family: "Corbel";
  font-size: large;
  color: darkslategray;
  text-align: center;
}

.questionLabel {
  font-family: Corbel;
  font-size: medium;
  color: darkslategray;
  margin-left: 10%;
  margin-top: 2%;
}

.questionSubmit {
  width: 80%;
  height: 20%;
}

.questionButton {
  margin-left: 78%;
  font-family: Corbel;
  color: darkslategray;
  font-size: medium;
}

.indSection{
  margin-bottom: 10%;
}

.question {
  font-family: Corbel;
  font-size: x-large;
  color: darkslategray;
}

.answers {
  font-family: Corbel;
  font-size: large;
  color: darkslategray;
  margin-left: 10%;
}

.answerLabel {
  font-family: Corbel;
  font-size: large;
  color: darkslategray;
  margin-left: 10%;
}

.answerSubmit {
  margin-left: 10%;
  width: 80%;
  height: 20%
}

.answerButton {
  font-family: Corbel;
  font-size: medium;
  color: darkslategray;
  margin-left: 77%;
}
