.questionIntro {
  font-family: Corbel;
  font-size: x-large;
  color: darkslategray;
  text-align: center;
}

.answerIntro {
  font-family: "Corbel";
  font-size: large;
  color: darkslategray;
  text-align: center;
}

.questionLabel {
  font-family: Corbel;
  font-size: medium;
  color: darkslategray;
  margin-left: 25%;
  width: 100%;
}

/*.questionSubmit {*/
/*  margin-left: 25%;*/
/*  width: 100%;*/
/*  !*padding-left: 50%;*!*/
/*}*/

.questionButton {
  margin-left: 2%;
  font-family: Corbel;
  color: darkslategray;
  font-size: medium;
}

.question {
  font-family: Corbel;
  font-size: x-large;
  color: darkslategray;
}

.answers {
  font-family: Corbel;
  font-size: large;
  color: darkslategray;
  padding-right: 20%;
}

.answerLabel {
  font-family: Corbel;
  font-size: large;
  color: darkslategray;
}

.answerSubmit {
  margin-left: 10%;
}

.answerButton {
  font-family: Corbel;
  font-size: medium;
  color: darkslategray;
  margin-left: 50%;
}
