<form class=contactForm>
  <mat-form-field class="name">
    <input matInput placeholder="Name">
  </mat-form-field>
  <p></p>
  <mat-form-field class="email">
    <input matInput placeholder="Email">
    <mat-error *ngIf="contactForm.hasError('email') && !contactForm.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="contactForm.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <p></p>
  <mat-form-field>
    <mat-label>Select One</mat-label>
    <mat-select>
      <mat-option value="Question">Question</mat-option>
      <mat-option value="Feedback">Feedback</mat-option>
    </mat-select>
  <p></p>
    <mat-form-field>
      <textarea matInput placeholder="Start typing here..."></textarea>
    </mat-form-field>
    <p></p>
  </mat-form-field>
</form>
