<h2>Contact Us</h2>
<div class="contact-us">
  <mat-form-field>
    <input matInput placeholder="Name">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Email">
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Type of Feedback">
      <mat-option value="option">Question</mat-option>
      <mat-option value="option">Feedback</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Start typing here..."></textarea>
  </mat-form-field>
</div>

